<ion-header>
    <ion-toolbar>
        <ion-title>
            <a [routerLink]="['']">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </a>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm">
        <div>
            <div style="height: 20vh;">
            </div>
            <div style="width: 100px; margin:0 auto">
                <img src="../../assets/loginlogo.png" width="100" height="100">
            </div>
            <ion-row>
                <h3>用户登陆</h3>
            </ion-row>
            <ion-row>
                <ion-input type="userName" id="userName" placeholder="请输入用户名" name="userName" [formControl]="username">
                </ion-input>
            </ion-row>
            <ion-row>
                <ion-input type="password" id="password" name="password" placeholder="请输入密码" [formControl]="password">
                </ion-input>
            </ion-row>
            <ion-row>
                <ion-button class="primary" (click)='login()'>登录</ion-button>
                <!-- <div style="width:80%;" class="align-self-center">
                <ion-button color="primary" style="width:100%;">登录</ion-button>
            </div> -->
            </ion-row>
        </div>
    </form>
</ion-content>