<ion-header>
    <ion-toolbar>
        <a [routerLink]="['']">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-label>userName</ion-label>
        </ion-row>
        <ion-row>
            <ion-input placeholder="请输入用户名" type="userName"></ion-input>
        </ion-row>
        <ion-row>
            <ion-label>password</ion-label>
        </ion-row>
        <ion-row>
            <ion-input placeholder="请输入密码" type="password"></ion-input>
        </ion-row>
        <ion-row>
            <ion-button color="primary" >Regeist</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>